<div>
  <%= form_with model: @message, url: create_message_path(params[:id]) do |f| %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <%= f.label :content %>
      <%= f.text_field :content, placeholder: "Leave your message for the accompanist here..."%>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
</div>