<div class="container-sm">
  <%= form_with model: @profile do |f| %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :phone %>
      <%= f.telephone_field :phone %>
    </p>
    <p>
      <%= f.label :contactable %>
      <%= f.check_box :contactable, checked: current_user.profile.contactable %>
    </p>
    <p>
      <%= f.label :blurb %>
      <%= f.text_field :blurb, placeholder: "About me"%>
    </p>
    <p>
      <%= f.label :picture %>
      <%= f.file_field :picture, placeholder: "title"%>
    </p>
    <p>
       <%= fields_for :profile_qualifications do |nested_form| %>
        <% @qualifications.each do |q| %>
        <div>
            <%= nested_form.label q.name %>
            <%= nested_form.check_box q.id, checked: current_user.profile.has_qualification?(q.id) %>
            <%= fields_for "#{q.id}" do |nf| %>
              <%= nf.collection_select :qualification_major, @majors, :id, :name, selected: current_user.profile.get_qualification_major(q.id) %>
            <% end%>
        </div>   
        <% end %>
      <% end %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>