<div class="container-sm">
  <%= form_with model: @profile do |f| %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :phone %>
      <%= f.telephone_field :phone %>
    </p>
    <p>
      <%= f.label "Contact details visible?" %>
      <%= f.check_box :contactable, checked: @profile.contactable %>
    </p>
    <p>
      <%= f.label "About me:" %><br />
      <%= f.text_area :blurb, placeholder: "Tell people who you are, your experience and why you would be a great choice for them. Max 500 characters.", size: "60x8" %>
    </p>
    <p>
      <%= f.label "Profile Picture" %>
      <%= f.file_field :picture, placeholder: "title"%>
    </p>
    <p>
       <%= fields_for :profile_qualifications do |nested_form| %>
        <% @qualifications.each do |q| %>
        <div>
            <%= nested_form.label q.name %>
            <%= nested_form.check_box q.id, checked: @profile.has_qualification?(q.id) %>
            <%= fields_for "#{q.id}" do |nf| %>
              <%= nf.collection_select :qualification_major, @majors, :id, :name, selected: @profile.get_qualification_major(q.id) %>
            <% end%>
        </div>   
        <% end %>
      <% end %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>