<div class="container-sm">
  <%= form_with model: @profile do |f| %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "first name"%>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "last name"%>
    </p>
    <p>
      <%= f.label :phone %>
      <%= f.telephone_field :phone, placeholder: "mobile or home phone"%>
    </p>
    <p>
      <%= f.label :contactable %>
      <%= f.check_box :contactable %>
    </p>
    <p>
      <%= f.label :picture %>
      <%= f.file_field :picture, placeholder: "profile picture"%>
    </p>
    <p>
      <%= f.label :blurb %>
      <%= f.text_field :blurb, placeholder: "About me"%>
    </p>
    <p>
      <%= fields_for :profile_qualifications do |nested_form| %>
        <% @qualifications.each do |q| %>
          <div>
              <%= nested_form.label q.name %>
              <%= nested_form.check_box q.id %>
              <%= fields_for "#{q.id}" do |nf| %>
                <%= nf.collection_select :qualification_major, @majors, :id, :name %>
              <% end%>
          </div>   
        <% end%>
      <% end %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
</div>