<div class="container-sm" id="profile">
  <div class="row" id="profile-header">
    <div class="col-sm-auto">
      <%= image_tag "GoldBlackAMicon.png", width: 100, id:"show-icon" %>
    </div>
    <div class="col-sm">
      <h1 id="show-acc-name">
        <%= @profile.first_name %>
        <%= @profile.last_name %>
      </h1>
    </div>
  </div>
  <div id="profile-body">
    <div class="row">
      <div class="col-sm-auto">
        <% if @profile.picture.attached? %>
          <%= cl_image_tag @profile.picture.key, cloud_name: "dbsmyugus", crop: :scale, width: 150%>
        <% else %>
          <%= image_tag "load_profile.png", width: 150, class:"image-fluid"%>
        <% end %>
      </div>
      <div class="col-sm">
        <% if @profile.has_any_qualifications? %>
          <h5> Qualifications: </h5>
          <ul>
            <% @profile.profile_qualifications.each do |qual| %>
              <li>
                <%= Qualification.find(qual.qualification_id).name %>
                <%= Major.find(qual.major_id).name == "Undisclosed" ? "" : " in #{ Major.find(qual.major_id).name }" %>
              </li>
            <% end %>
          </ul>
          <% else %>
            <p class="announce">This accompanist has listed NO qualifications and thus, may not be appropriate.</p>
        <% end %>
        <% if @profile.contactable %>
          <p><%= " email: #{@profile.user.email}" %><%= " | phone: #{@profile.phone}" if @profile.has_phone?%></p>
        <% else %>
          <%= link_to "make contact", messages_new_path, class:"btn" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% if current_user.has_role?(:admin) %>
          <h5 class="announce">NOTE: CURRENTLY SIGNED IN AS ADMIN</h5>
        <% end %>
        <h5>About me:</h5>
        <p><%= @profile.blurb %></p>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <% if @profile.users_profile? %>
        <h4>My Profile</h4>
        <% if @profile.has_any_qualifications? == false %>
          <p class="announce">Notice: please load qualifications as soon as possible.</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if policy(@profile).update? %>
    <div class="row">
      <div class="col">
        <h5>My contact requests</h5>
        <% if @profile.user.messages_received.unseen.count == 0 %>
          <p>You currently have no contact requests.</p>
        <% else %>
          <table>
            <% @profile.user.messages_received.unseen.each do |msg| %>
              <tr>
                <td><%= msg.sender.email %></td>
                <td><%= msg.content %></td>
                <td><%= link_to "clear", update_message_path(msg.id), method: :patch, class:"btn" %></td>
                <% if current_user.has_role?(:admin) %>
                  <td><%= link_to "DELETE MESSAGE(ADMIN)", destroy_message_path(msg.id), method: :patch %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  <% end %>
</div>