<div class="container-sm">
  <h1>
    <%= @profile.first_name %>
    <%= @profile.last_name %>
  </h1>
    <% if @profile.id == current_user.profile.id %>
      <em>(this is your profile)</em>
    <% end %>
  <div>
    <% if @profile.picture.attached? %>
      <%= cl_image_tag @profile.picture.key, cloud_name: "dbsmyugus", crop: :scale, width: 200 %>
    <% else %>
      <%= image_tag "load_profile.png", width: 200 %>
    <% end %>
  </div>
  <p>
    Email: <%= @profile.user.email %>
  </p>
  <h2>
    Qualifications
  </h2>
  <% @profile.profile_qualifications.each do |qual| %>
    <p>
      <%= Qualification.find(qual.qualification_id).name %>
      <%= Major.find(qual.major_id).name == "Undisclosed" ? "" : " in #{ Major.find(qual.major_id).name }" %>
    </p>
  <div>
    <% end %>
    <%= link_to "Back", root_path %>
    <% if policy(@profile).update? %>
      |
      <%= link_to "Edit ", edit_profile_path %>
    <% end %>
    <% if policy(@profile).destroy? %>
      |
      <%= link_to " Delete profile", @profile, method: :delete, data: { confirm: "Are you sure?" } %>
      <% if current_user.has_role?(:admin) %>
        |
        <%= link_to "ADMIN: Delete profile", @profile, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</div>
