<div class="container-sm">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#">
        <%= link_to "home", root_path %>
         |
      </a>
    </li>
    <li role="presentation">
      <a href="#">
        <% if user_signed_in? %>
          <% if current_user.profile %>
            <%= link_to "my account", profile_show_path(current_user.profile) %>
          |
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "my account", profiles_new_path %>
          <% end %>
          |
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
          |
          <%= link_to 'Sign Up', new_user_registration_path %>
          |
        <% end %>
      </a>
    </li>
  </ul>
</div>
